<div class="title">
  <h2> Profile </h2>
</div>

<div class="container">
<div id="content" class="content p-0">
    <div class="profile-header">
        <div class="profile-header-cover"></div>
        <div class="title">
        <div class="profile-header-content">
            <div class="profile-header-img">
            
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" />
                </div>
            </div>

            <div class="profile-header-info">
                <h4 class="m-t-sm"><%= current_user.name %></h4>
                <% if current_user.name == current_user.name %>
                  <a href="#" class="btn btn-xs btn-primary mb-3">Edit Picture</a>
                <% else %>
                  <a href="#" class="btn btn-xs btn-primary mb-3">Add Friend</a>
                <% end %>
            </div>
        </div>
    </div>