<div class="title">
  <h2> Timeline </h2>

<%= render 'form' %>

  <% @posts.each do |post| %>
    <div class="form-group row">
      <div class="col">
      <%= link_to post.user.name, user_path(post.user) unless post.user.blank? %>
        <%= post.content %>
      </div>
    </div>
    <% end %>

</div>